@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid royalblue; */
}

:root {
    --primary: #7031c8;
    --white: #FFFFFF;
    --black: #000000;
    --orange: #e98b47;
    --green: #7dcf3b;
    --blue: #66aef0;
}

HTML {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.header {
    background-color: var(--primary);
    padding-inline: 10vw;
    margin-inline: auto;
    position: relative;
    /* height: 120vh; */
    padding-bottom: 10rem;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    /* height: 20vh; */
    padding-block: 3rem;
    align-items: center;
}

.fa-solid.fa-bars {
    display: none;
}

.logo img {
    width: 10rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: var(--white);
    font-weight: 400;
    align-items: center;
    /* background-color: #fff; */
    padding-right: 10rem;
    font-size: 1.7rem;
}

.list-item.active {
    content: "";
    /* height: 1px; */
    color: var(--blue);
    /* text-decoration: underline;
    text-decoration-color: rgb(174, 19, 174); */
    border-bottom: 2px solid rgb(224, 40, 224);
    padding-bottom: 2px;

}

.list-item.btn {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 2px;
    font-weight: 400;
}


/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
    display: flex;
    /* gap: 40px; */

}

.hero .left {
    /* width: 30vw; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .left h1 {
    color: var(--white);
    font-size: 6rem;
    line-height: 8rem;
    margin-bottom: 5rem;
}

.hero .left p {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
}

.hero .right {
    /* display: inline-block; */
    width: 60%;
}

.hero .right img {
    width: 100%;
}


/* ------------------------------ */
/* ---------- APPLICATION ------------ */
/* ------------------------------ */

.application {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    justify-content: start;
}

.application .left img {
    width: 50vw;
}

.application .right {
    margin-left: 15rem;
}

.application .right h1 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

.application-list {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    flex-direction: column;
}

.list-item h4 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.list-item p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 70%;
}

.arrow {
    font-size: 3rem;
}

.arrow.orange {
    color: var(--orange);
}

.arrow.green {
    color: var(--green);
}

.arrow.blue {
    color: var(--blue);
}


/* ------------------------------ */
/* ---------- Feature ------------ */
/* ------------------------------ */
.feature {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 10rem;
    margin-top: 2rem;
    /* padding: 3rem; */

}

.feature-cards {
    display: flex;
    gap: 5rem;
    height: fit-content;
    justify-content: space-between;
    /* background-color: #5ba0e0; */
    width: 70vw;
    margin-inline: auto;
    margin-top: 5rem;
    padding: 3rem 0;

}


.feature-cards .card {
    max-width: 40rem;
    height: 15vh;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .1);
    border-radius: 3rem;
    height: 30rem;
    background-color: #FFFFFF;
}

.card>.logo {
    height: 13rem;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 3rem;
    border-radius: 500px;
}

.clean-code-logo {
    /* background-color: #C78B8B; */
    background-color: rgba(199, 139, 139, 0.2);
}

.clean-code-logo img {
    filter: invert(73%) sepia(3%) saturate(4336%) hue-rotate(314deg) brightness(87%) contrast(75%);
}

.data-analytics-logo {
    background-color: rgba(242, 138, 63, 0.2);
}

.data-analytics-logo img {
    filter: invert(85%) sepia(54%) saturate(332%) hue-rotate(34deg) brightness(101%) contrast(50%);
}

.fully-secured-logo {
    background-color: rgba(146, 177, 177, 0.2);
}

.fully-secured-logo img {
    filter: invert(69%) sepia(11%) saturate(459%) hue-rotate(131deg) brightness(97%) contrast(93%);
}

.logo-24x7 {
    background-color: rgba(0, 0, 0, 0.2);
}

.logo-24x7 {
    filter: invert(33%) sepia(19%) saturate(3118%) hue-rotate(256deg) brightness(99%) contrast(92%);
}

.card>.logo img {
    height: 7rem;
}

.desc {
    margin-top: 3rem;
    height: 42%;
    border-radius: 3rem;
}

.desc.active {
    background-color: var(--primary);
    color: var(--white);
}

.desc h1 {
    font-size: 2.5rem;
}

.desc p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

@media (width <=425px) {
    .fa-solid.fa-bars {
        display: block;
        color: var(--white);
    }

    .header {
        padding-bottom: 5rem;
        padding-inline: 5vw;
    }

    .navbar {
        padding: 0;
        padding-top: 2rem;

    }

    .nav-list {
        display: none;
    }




    .hero {
        flex-direction: column-reverse;
    }

    .hero .left {
        width: 100%;
    }

    .hero .left h1 {
        text-align: center;
        font-size: 3rem;
        line-height: 3rem;
        margin-block: 1.5rem;
        width: 90%;
        margin-inline: auto;
    }

    .hero .left p {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        width: 85%;
        margin-inline: auto;
    }

    .hero .right {
        width: 100%;
    }



    .application {
        flex-direction: column;
        padding: 0;
        width: 90vw;
        margin-inline: auto;
    }

    .application .left {
        width: 100%;
        text-align: center;
    }

    .application .left img {
        width: 80%;
    }

    .application .right {
        margin-left: 0;
    }

    .application .right h1 {
        text-align: center;
        font-size: 2.7rem;
        width: 90%;
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .application-list {
        width: 90%;
        margin-inline: auto;
        gap: 1rem;
    }

    .application-list h4{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .application-list p {
        width: 80%;
        font-size: 1.3rem;
        margin-inline: auto;
    }


    .feature-cards {
        flex-direction: column;
    }


}